<%= render partial: 'components/navbar' %>

<div class="overflow-y-auto  mt-20 overflow-x-hidden fixed inset-0 z-20 flex justify-center items-center">
  <div class="relative p-4 w-full max-w-2xl h-auto">
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
      <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Welcome to Trip-Wise, where every journey becomes a vivid story.</h2>
      <p class="mb-4">In the world of <b class="text-blue-500">Trip-Wise</b>, we believe that travel is more than just moving from one place to another; it's about the stories, the experiences, and the memories that linger long after you've returned. Our platform is designed to capture the essence of your adventures, transforming them into captivating narratives that resonate with the soul of every traveler.
      </p>
      <p class="mb-4">Our expertise is your gain. We're small enough to care deeply about each user's experience, yet big enough to handle the vast tapestry of global travel. We're here to make your travel journaling seamless, engaging, and utterly unforgettable.</p>
      <p>Join us in this journey, and let's make every trip an adventure worth sharing.</p>
    </div>
    <div class="grid grid-cols-2 gap-4 mt-8">
      <img class="w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/content/office-long-2.png" alt="Team Collaboration">
      <img class="w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/content/office-long-1.png" alt="Creative Process">
    </div>
  </div>
  </div>


