<%= render partial: 'components/navbar' %>
<div class="overflow-y-auto overflow-x-hidden fixed inset-0 z-20 mt-16 flex justify-center items-center">
  <div class="relative p-4 w-full max-w-2xl h-auto">
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
      <div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md">
        <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-center text-gray-900 dark:text-white">Experiencing a
          Hiccup or Have Ideas to Share? We're All Ears!
        </h2>
        <p class="mb-2 lg:mb-10 font-light text-center text-gray-500 dark:text-gray-400 sm:text-xl">
          Your insights and experiences fuel our journey towards creating the ultimate travel journaling app.
          Whether it's a small query or big ideas, your input is invaluable in our
          quest to make Flow-Wise the perfect companion for every traveler.
        </p>
        <form id="contact-form" class="space-y-8">
          <div>
            <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Your
              email</label>
            <input type="email" id="email" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light" placeholder="name@tripwise.com" required>
          </div>
          <div>
            <label for="subject" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Subject</label>
            <input type="text" id="subject" class="block p-3 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 shadow-sm focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light" placeholder="Let us know how we can help you" required>
          </div>
          <div class="sm:col-span-2">
            <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400">Your
              message</label>
            <textarea id="message" rows="6" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg shadow-sm border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Leave a comment..."></textarea>
          </div>
          <button type="submit" class="py-3 px-5 text-sm font-medium text-center text-white rounded-lg bg-primary-700 sm:w-fit hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Send
            message
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<% render partial: 'components/footer' %>

<script>
        const form = document.getElementById('contact-form');
        form.addEventListener('submit', function (e) {
            e.preventDefault();
            alert('Email Sent');
            window.location.href = '/';
    });
</script>